<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="CSS">CSS</a></li>
            <li><a href="CSS">HTML</a></li>
            <li><a href="CSS">Javascript</a></li>
            <li><a href="CSS">Ruby</a></li>
        <ul>
    </nav>
    <a class="logo">
        <img src="assets/AA_Times_Logo.png" />
    </a>
    <nav>
        <ul class="masthead-links">
            <li><a href="calendar">Tuesday, October 18, 2016</a></li>
            <li><a href="calendar">Today’s Paper</a></li>
            <li><i class="fas fa-video"></i>
            <a href="calendar">Video</a></li>
            <button id="subscribe-now-btn">77°F</button>
            <button id="subscribe-now-btn">AAO +100%</button>

        </ul>
    <nav>
    
</header> 

<!-- date has no hover, 
paper/video links underline
degrees and stock hover grey
language Nav links underline
-->

