
body, h1, h2, h3, h4, ul, li, a, figcaption, header, img, ol {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

ul ol {
  list-style: none;
}

body {
    line-height: 1.5;
}

img {
  width: 100%;
}