.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    align-items: auto;

}

.left-nav > ul > li {
    font-family: serif;
    font-size: 10px;
    text-transform: uppercase;
    margin: 3px;
    padding: 5px;
}

.right-nav > ul > li {
    display: flex;
    align-items: auto;
}

.right-nav > ul > li:last-of-type {
font-size: 13px;
}

.left-nav > ul > li:hover,
.right-nav > i:hover {
    background-color: #eee;
}

.left-nav span {
    margin: 13px
}


.right-nav i {
    padding: 5px;
}