
<nav class="Sections-Nav">
    <ul>
        <li>
            <a href="World">World</a></li>
        <li>
            <a href="San Francisco">San Francisco</a></li>
        <li>
            <a href="New York">New York</a></li>
        <li>                
            <a href="calendar">Bootcamp Prep</a></li>
        <li>
            <a href="Jumpstart">Jumpstart</a></li>
        <li>
            <a href="Online">Online</a></li>
        <li>
            <a href="Marketing">Marketing</a></li>
        <li>
            <a href="Sales">Sales</a></li>
        <li>
            <a href="TalentMatch">TalentMatch</a></li>
        <li>
            <a href="Alumni">Alumni</a></li>
        <li>                
            <a href="All">All</a></li>   
    </ul>
<nav>