<h1>Create New User</h1>

<a class="Sign-in-link" href="<%= new_session_url %>">Sign In</a>

<br><br>

<form class="sign-up" action="<%= users_url %>" method="POST">
    <input type="hidden" 
        name="authenticity_token" 
            value="<%= form_authenticity_token %>">

    <label>Email
        <p>
            <input type="email" name="user[email]" value="">
        </p>
    </label>

    <label>Password
        <p>
            <input type="password" name="user[password]" value="">
        </p>
    </label>

    <input type="submit" value="Create User">

</form>