/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    background-color: beige;
}

body {
    width: 800px;
    display: block;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.header a {
    font-style: oblique;
    font-family: monospace;
    text-decoration: none;
    color: blue;
}

.logged_in {
    display: flex;
    justify-content: flex-end;
}

.home, .home a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: forestgreen;
}

.sign-out {
    display: flex;
    justify-content: flex-end;
}