<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="CSS">CSS</a></li>
            <li><a href="CSS">HTML</a></li>
            <li><a href="CSS">Javascript</a></li>
            <li><a href="CSS">Ruby</a></li>
        <ul>
    </nav>
    <a class="logo">
        <img src="/app/assets/images/AA_Times_Logo.png" />
    </a>

</header> 


Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%